version: "3.9"

services:
  api:
    build:
      context: ./AuthBackend
    ports:
      - "5000:80"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=authdb;Username=postgres;Password=admin123
      - JWT__Secret=supersecretkey123456
      - JWT__ValidIssuer=AuthBackend
      - JWT__ValidAudience=AuthClient
    depends_on:
      - db
    command: >
      /bin/sh -c "
      until dotnet ef database update --no-build --project AuthBackend.csproj; do
        echo 'Waiting for database...';
        sleep 5;
      done;
      dotnet AuthBackend.dll
      "

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: authdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin123
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: